:root {
  /* Colors are taken from the Dark Castle theme
   * and used improperly.
   * https://github.com/scottgriv/Dark-Castle-Theme
   */
  --text: #FFFFFF;
  --base: #1A1A1A;
  --background: #000000;
  --accent: #9C9C9C;
  --link: #4164FF;
  --link-visited: #9354FF;
  --header: #292929;

}

li::marker {
  content: "- ";
}
h1::before {
  content: "# ";
}
h2::before {
  content: "## ";
}
h3::before {
  content: "### ";
}
.subtitle::before {
  content: "";
}

.blog-title {
  display: table;
  width: 100%;
  border-collapse: collapse;
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.blog-title > li > h1 {
  margin: 0;
}

.blog-title > li > h4 {
  margin: 0;
}

.blog-title > li {
  display: table-cell;
  margin: 0;
  padding: 0;
}

.blog-title > li:nth-child(2) {
    text-align: center;
}

.blog-title > li:last-child {
    text-align: right;
}

blockquote {
    background-color: var(--header);
    width: 60%;
    padding: 0.5em;
}

#buttons { 
  display: block;
  margin-left: auto;
  margin-right: auto;
  image-rendering: pixelated;
}
#buttons img {
  width: 88px;
  height: 31px;
}

#humanmade img {
  width: 100%;
}

ul {
  padding-left: 1em;
}

.short-text { 
  cursor: help;
  text-decoration: dotted underline;
}
.short-text ~ .detail-box {
  display: none;  
}
.detail-box {
  position: fixed;
  border: 2px solid var(--accent);
  background-color: var(--header);
  padding-left: 0.4em;
  padding-right: 0.4em;
}

#_short-name:hover ~ #_detail-name,
#_short-name:active ~ #_detail-name,
#_short-name:focus ~ #_detail-name,
#_short-pronouns:hover ~ #_detail-pronouns,
#_short-pronouns:active ~ #_detail-pronouns,
#_short-pronouns:focus ~ #_detail-pronouns {
  display: unset;
}

body {
  background-color: var(--background);
  color: var(--text);
  cursor: default;
}

a {
  color: var(--link);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a:visited {
  color: var(--link-visited);
}

#header {
  border: 2px solid var(--accent);
  background-color: var(--base);
  display: flex;
  margin: 1em;
  margin-bottom: 0;
  justify-content: center;
}

#nav-links {
  display: flex;
  gap: 1em;
}

#main-container {
  display: flex;
}

#sidebar {
  margin-left: 1em;
  margin-right: 1em;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 420px;
}

#sidebar > * {
  margin-top: 1em;
}

.sb-box {
  border: 2px solid var(--accent);
  background-color: var(--base);
  margin-top: 0;
  padding: 1em;
}
.sb-box > * {
  margin: 0;
}
.sb-box:has(img) {
  padding-bottom: calc(1em - 6px);
}

.sb-header {
  background: var(--header);
  border: 2px solid var(--accent);
  border-bottom: 0;
  margin-top: 0;
}
.sb-header h2 {
  margin: 0;
}

#content {
  width: 100%;
  margin-right: 1em;
  margin-top: 1em;
  flex-grow: 2;
  border: 2px solid var(--accent);
  background-color: var(--base);
  padding-left: 1em;
}
#content * {
  max-width: 80em
}

#after {
  text-align: center;
}

.dark-text {
  display: unset;
}
.light-text {
  display: none;
}

@media (prefers-color-scheme: light) {
  :root { /* catppuccin latte */
    --accent:       #8839ef; /* muave     */
    --background:   #dce0e8; /* crust     */
    --base:         #eff1f5; /* base      */
    --text:         #4c4f69; /* text      */
    --link:         #1e66f5; /* blue      */
    --link-visited: #8839ef; /* muave     */
    --header:       #ccd0da; /* surface 0 */
  }
  
  .dark-text {
    display: none;
  }
  .light-text {
    display: unset;
  }
}
